body{
    background-color: #a7dbe3;
    color: white;
    font-size: 22px;
}   

h1{
    font-size: 70 px;
    text-align: center;
    color: black;
}


p{
    color: #2f4c5c;
}

/* Box Model Example */
/* 
margin:  empty space around my element
borders:: a morder/ stoke/ around my element
padding: emply space with background around my element

All of these ADD on top of th width and height!  
*/

.box{
    background: pink;
    width: 300px;
    height: 300px;
    margin: 50px;
    border-width: 5px;
    border-color: red;
    border-style: solid;

    border-top: solid 10px blue;

    padding: 100px;                   /*margin creates empty space without background color and padding creates space with background color */ 
    padding: 50px 100px 300px 25px;  /*top right bottom left */
    
}