body{
    background-color: aquamarine;
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-align: center;
    
}

h1{
    font-size: 70px;
    text-align: center;
    color: blue;
    margin-bottom: 0px;
}

h2{
    margin-top: 0px;
}

.ordered ol{
    list-style-type: upper-roman;
    list-style-position: inside;     /*this will take the bullet points o the cenetr*/
}

.unordered ul{
    list-style-image: url(../../../../../Downloads/html.png);
    background-color: pink;
    padding: 50px;
    list-style-position: inside;
}

.ordered ol li, .unordered ul li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: purple;
}